In [4]:
from pyspark.sql import SparkSession
from delta import *
from pyspark.sql import Row
import pyspark.sql.functions as ppsql_func
import pyspark.sql.types as ppsql_types

In [1]:
import os
import sys
sys.path.insert(0, r'/container/pyspark_workspace/source_code')
from utils.spark import SparkUtils

# Create a Spark session
spark_utils = SparkUtils()
spark = spark_utils.spark
sqlContext = spark_utils.sqlContext

# Extract data from CreditStagingDB and save it to the bronze layer

# # Extract data from the CustomerProductAccount table
# dbo_CustomerProductAccount_df = spark_utils.extract_df_database('sql_server_1', 'CreditStagingDB', 'SELECT * FROM dbo.CustomerProductAccount')
# dbo_CustomerProductAccount_df.write.format('delta').mode('overwrite').save('/container/pyspark_workspace/local_data_storage/delta_lake/bronze/CustomerProductAccount')

# # Extract data from the AccountTransactionHistory table
# dbo_AccountTransactionHistory_df = spark_utils.extract_df_database('sql_server_1', 'CreditStagingDB', 'SELECT * FROM dbo.CustomerProductAccount')
# dbo_AccountTransactionHistory_df.write.format('delta').mode('overwrite').save('/container/pyspark_workspace/local_data_storage/delta_lake/bronze/CustomerProductAccount')


# # Stop the Spark session

# spark_utils.stop_spark_session()

spark_submit_local_jars_str:
		 /container/pyspark_workspace/local_data_storage/spark/jars/mssql-jdbc-12.8.1.jre11.jar
		 /container/pyspark_workspace/local_data_storage/spark/jars/spark-sql-kafka-0-10_2.12-3.4.0.jar
		 /container/pyspark_workspace/local_data_storage/spark/jars/delta-spark_2.12-3.2.0.jar
		 /container/pyspark_workspace/local_data_storage/spark/jars/spark-avro_2.12-3.4.0.jar
		 /container/pyspark_workspace/local_data_storage/spark/jars/delta-storage-3.2.0.jar
spark_submit_jdbc_driver_str:
		 /container/pyspark_workspace/local_data_storage/spark/jars/mssql-jdbc-12.8.1.jre11.jar
spark_submit_extensions_str:
		 io.delta.sql.DeltaSparkSessionExtension

24/11/24 17:48:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
df = spark.read.load('/container/pyspark_workspace/local_data_storage/deltalake/bronze/CustomerProductAccount')

In [6]:
spark.sql('DESC HISTORY delta.`/container/pyspark_workspace/local_data_storage/deltalake/bronze/CustomerProductAccount`').toPandas()

,version,timestamp,userId,userName,operation,operationParameters,job,notebook,clusterId,readVersion,isolationLevel,isBlindAppend,operationMetrics,userMetadata,engineInfo
0,3,2024-11-24 13:25:21.901,None,None,WRITE,"{'mode': 'Overwrite', 'partitionBy': '[]'}",None,None,None,2.0,Serializable,False,"{'numOutputRows': '120', 'numOutputBytes': '32...",None,Apache-Spark/3.5.2 Delta-Lake/3.2.0
1,2,2024-11-24 13:25:20.030,None,None,WRITE,"{'mode': 'Overwrite', 'partitionBy': '[]'}",None,None,None,1.0,Serializable,False,"{'numOutputRows': '120', 'numOutputBytes': '32...",None,Apache-Spark/3.5.2 Delta-Lake/3.2.0
2,1,2024-11-24 13:23:58.206,None,None,WRITE,"{'mode': 'Overwrite', 'partitionBy': '[]'}",None,None,None,0.0,Serializable,False,"{'numOutputRows': '120', 'numOutputBytes': '32...",None,Apache-Spark/3.5.2 Delta-Lake/3.2.0
3,0,2024-11-24 13:23:53.517,None,None,WRITE,"{'mode': 'Overwrite', 'partitionBy': '[]'}",None,None,None,NaN,Serializable,False,"{'numOutputRows': '120', 'numOutputBytes': '32...",None,Apache-Spark/3.5.2 Delta-Lake/3.2.0

In [62]:
data1 = [
    {'id': 1, 'name': 'John', 'age': 25, 'gender': 'Male', 'address': '123 Main St', 'city': 'NYC', 'state': 'NY'},
    {'id': 2, 'name': 'Jane', 'age': 30, 'gender': 'Female', 'address': '456 Elm St', 'city': 'LA', 'state': 'CA'},
    {'id': 3, 'name': 'Bob', 'age': 35, 'gender': 'Male', 'address': '789 Oak St', 'city': 'Chicago', 'state': 'IL'},
    {'id': 4, 'name': 'Alice', 'age': 20, 'gender': 'Female', 'address': '321 Pine St', 'city': 'Seattle', 'state': 'WA'},
    {'id': 5, 'name': 'Sam', 'age': 40, 'gender': 'Male', 'address': '901 Maple St', 'city': 'Boston', 'state': 'MA'},
    {'id': 6, 'name': 'Emily', 'age': 28, 'gender': 'Female', 'address': '1111 Cedar St', 'city': 'Denver', 'state': 'CO'},
]

df1 = spark.createDataFrame(data1)
df1.createOrReplaceTempView("data1")


data2 = [
    {'id': 1, 'name': 'John', 'age': 25, 'gender': 'Male', 'address': '123 Main St', 'city': 'NYC', 'state': 'NY'},
    {'id': 2, 'name': 'Jane', 'age': 30, 'gender': 'Female', 'address': '456 Elm St', 'city': 'LA', 'state': 'CA'},
    {'id': 3, 'name': 'Bob', 'age': 35, 'gender': 'Male', 'address': '789 Oak St', 'city': 'Chicago', 'state': 'IL'},
    {'id': 4, 'name': 'Alice', 'age': 20, 'gender': 'Female', 'address': '321 Pine St', 'city': 'Seattle', 'state': 'WA'},
    {'id': 5, 'name': 'Sam', 'age': 20, 'gender': 'Male', 'address': '901 Maple St', 'city': 'Boston', 'state': 'MA'},
    {'id': 7, 'name': 'Emily', 'age': 28, 'gender': 'Female', 'address': '1111 Cedar St', 'city': 'Denver', 'state': 'CO'},
]

df2 = spark.createDataFrame(data2)
df2.createOrReplaceTempView("data2")

In [69]:
df1.withColumn('StartDate', ppsql_func.lit(None).cast('string')) \
    .withColumn('EndDate', ppsql_func.lit(None).cast('string')) \
    .withColumn('IsCurrent', ppsql_func.lit(None).cast('int')) \
    .withColumn('ActionChangeType', ppsql_func.lit(None).cast('string')) \
    .withColumn('ActionChangeTime', ppsql_func.lit(None).cast('timestamp')) \
    .withColumn('HashKey', ppsql_func.lit(None).cast('string')) \
    .filter('1=2').write.format('delta').mode('overwrite').option('overwriteSchema',True).save('/container/pyspark_workspace/local_data_storage/deltalake/TEMP_TABLE_B')

In [70]:
spark.read.load('/container/pyspark_workspace/local_data_storage/deltalake/TEMP_TABLE_B').dtypes

[('address', 'string'),
 ('age', 'bigint'),
 ('city', 'string'),
 ('gender', 'string'),
 ('id', 'bigint'),
 ('name', 'string'),
 ('state', 'string'),
 ('StartDate', 'string'),
 ('EndDate', 'string'),
 ('IsCurrent', 'int'),
 ('ActionChangeType', 'string'),
 ('ActionChangeTime', 'timestamp'),
 ('HashKey', 'string')]

In [80]:
spark.read.format('delta').load('/container/pyspark_workspace/local_data_storage/deltalake/TEMP_TABLE_B').orderBy('id', ppsql_func.asc('ActionChangeTime')).toPandas()

,address,age,city,gender,id,name,state,StartDate,EndDate,IsCurrent,ActionChangeType,ActionChangeTime,HashKey
0,123 Main St,25,NYC,Male,1,John,NY,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:00.182222,52c8fbaeea020a96d8cbd3738a55cab72c4ebbdf571c9a...
1,456 Elm St,30,LA,Female,2,Jane,CA,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:00.182222,8cd6f375ad0ba0b920e341c9477eb3520b6e7c3fa53e0c...
2,789 Oak St,35,Chicago,Male,3,Bob,IL,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:00.182222,5b567c9dfd0da51de781ea1dfd5e19cea0f2ea8a9658aa...
3,321 Pine St,20,Seattle,Female,4,Alice,WA,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:00.182222,d8cfda894cec603b83bf39c406cedf0d37e320cc90e1ed...
4,901 Maple St,40,Boston,Male,5,Sam,MA,2024-11-25,2024-11-25,0,Insert,2024-11-25 01:56:00.182222,c7b79ed8637fe8585fcf5e1d0230571ede7c673fe18300...
5,901 Maple St,20,Boston,Male,5,Sam,MA,2024-11-25,9999-12-31,1,Update,2024-11-25 01:56:39.611709,818fb220bfd792fd95c545f3d4da0a36bfb11d7997983c...
6,1111 Cedar St,28,Denver,Female,6,Emily,CO,2024-11-25,2024-11-25,0,Insert,2024-11-25 01:56:00.182222,82c589a766aedde33ee6775ad7c53276b9679e57bc8e8c...
7,1111 Cedar St,28,Denver,Female,6,Emily,CO,2024-11-25,2024-11-25,1,Delete,2024-11-25 01:56:39.611709,82c589a766aedde33ee6775ad7c53276b9679e57bc8e8c...
8,1111 Cedar St,28,Denver,Female,7,Emily,CO,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:39.611709,cf62cd3b72db8e13fd005dcebc9c9604d005cabe19c821...

In [ ]:
old_data_df = spark.read.format('delta').load('/container/pyspark_workspace/local_data_storage/deltalake/TEMP_TABLE_B')
new_data_df = df2
new_data_df = new_data_df.withColumn("HashKey", ppsql_func.sha2(ppsql_func.concat_ws("", *new_data_df.columns), 256))

KeyColumn = ['id','id2']
KeyColumnCondition = ' AND '.join([f'new.{i} = old.{i}' for i in KeyColumn])
SCD_Column = ['StartDate','EndDate','IsCurrent','ActionChangeType','ActionChangeTime', 'HashKey']
ListColumn = [column_name for column_name in old_data_df.columns if column_name not in KeyColumn and column_name not in SCD_Column]

new_data_df.createOrReplaceTempView("new_data")
old_data_df.filter("IsCurrent = 1").createOrReplaceTempView("old_data")

insert_df_query = f"""
    SELECT 
    {','.join([f'new.{i}' for i in KeyColumn])},
    {','.join([f'new.{i}' for i in ListColumn])},
    CAST(TO_DATE(FROM_UTC_TIMESTAMP(NOW(), 'GMT+7')) AS STRING) AS StartDate,
    '9999-12-31' AS EndDate,
    1 AS IsCurrent,
    'Insert' AS ActionChangeType,
    FROM_UTC_TIMESTAMP(NOW(), 'GMT+7') AS ActionChangeTime,
    new.HashKey
    FROM new_data new
    WHERE NOT EXISTS (SELECT 1 FROM old_data old WHERE ({KeyColumnCondition}))
"""
# print(insert_df_query)
insert_df = spark.sql(insert_df_query)

update_df_query = f"""
    SELECT
    {','.join([f'new.{i}' for i in KeyColumn])},
    {','.join([f'new.{i}' for i in ListColumn])},
    CAST(TO_DATE(FROM_UTC_TIMESTAMP(NOW(), 'GMT+7')) AS STRING) AS StartDate,
    '9999-12-31' AS EndDate,
    1 AS IsCurrent,
    'Update' AS ActionChangeType,
    FROM_UTC_TIMESTAMP(NOW(), 'GMT+7') AS ActionChangeTime,
    HashKey
    FROM new_data new
    WHERE EXISTS (SELECT 1 FROM old_data old WHERE ({KeyColumnCondition}) AND (old.HashKey != new.HashKey OR old.ActionChangeType = 'Delete'))
"""
# print(update_df_query)
update_df = spark.sql(update_df_query)

delete_df_query = f"""
    SELECT
    {','.join([f'old.{i}' for i in KeyColumn])},
    {','.join([f'old.{i}' for i in ListColumn])},
    CAST(TO_DATE(FROM_UTC_TIMESTAMP(NOW(), 'GMT+7')) AS STRING) AS StartDate,
    CAST(TO_DATE(FROM_UTC_TIMESTAMP(NOW(), 'GMT+7')) AS STRING) AS EndDate,
    1 AS IsCurrent,
    'Delete' AS ActionChangeType,
    FROM_UTC_TIMESTAMP(NOW(), 'GMT+7') AS ActionChangeTime,
    old.HashKey
    FROM old_data old
    WHERE NOT EXISTS (SELECT 1 FROM new_data new WHERE ({KeyColumnCondition}))
    AND old.ACTIONCHANGETYPE != 'Delete'
"""
# print(delete_df_query)
delete_df = spark.sql(delete_df_query)

final_df = insert_df.union(update_df).union(delete_df)
final_df.write.format('delta').mode('overwrite').option("overwriteSchema", True).save('/container/pyspark_workspace/local_data_storage/deltalake/CDC_TEMP_TABLE_B')
final_df = spark.read.format('delta').load('/container/pyspark_workspace/local_data_storage/deltalake/CDC_TEMP_TABLE_B')


spark.sql(f'''
    MERGE INTO delta.`/container/pyspark_workspace/local_data_storage/deltalake/TEMP_TABLE_B` AS old
    USING delta.`/container/pyspark_workspace/local_data_storage/deltalake/CDC_TEMP_TABLE_B` AS new
    ON old.id = new.id
    WHEN MATCHED AND (new.ActionChangeType IN ('Delete', 'Update') AND old.IsCurrent = 1)
    THEN UPDATE SET
            old.EndDate = new.StartDate,
            old.IsCurrent = 0
''')

final_df.write.format('delta').mode('append').save('/container/pyspark_workspace/local_data_storage/deltalake/TEMP_TABLE_B')

    SELECT
    new.id,new.id2,
    new.address,new.age,new.city,new.gender,new.name,new.state,
    CAST(TO_DATE(FROM_UTC_TIMESTAMP(NOW(), 'GMT+7')) AS STRING) AS StartDate,
    '9999-12-31' AS EndDate,
    1 AS IsCurrent,
    'Insert' AS ActionChangeType,
    FROM_UTC_TIMESTAMP(NOW(), 'GMT+7') AS ActionChangeTime,
    new.HashKey
    FROM new_data new
    WHERE NOT EXISTS (SELECT 1 FROM old_data old WHERE (new.id = old.id AND new.id2 = old.id2)
    )


    SELECT
    new.id,new.id2,
    new.address,new.age,new.city,new.gender,new.name,new.state,
    CAST(TO_DATE(FROM_UTC_TIMESTAMP(NOW(), 'GMT+7')) AS STRING) AS StartDate,
    '9999-12-31' AS EndDate,
    1 AS IsCurrent,
    'Update' AS ActionChangeType,
    FROM_UTC_TIMESTAMP(NOW(), 'GMT+7') AS ActionChangeTime,
    HashKey
    FROM new_data new
    WHERE EXISTS (SELECT 1 FROM old_data old WHERE (new.id = old.id AND new.id2 = old.id2) AND (old.HashKey != new.HashKey OR old.ActionChangeType = 'Delete'))


    SELECT
    old.id,old.id2,
    old.address,old.age,old.city,old.gender,old.name,old.state,
    CAST(TO_DATE(FROM_UTC_TIMESTAMP(NOW(), 'GMT+7')) AS STRING) AS StartDate,
    CAST(TO_DATE(FROM_UTC_TIMESTAMP(NOW(), 'GMT+7')) AS STRING) AS EndDate,
    1 AS IsCurrent,
    'Delete' AS ActionChangeType,
    FROM_UTC_TIMESTAMP(NOW(), 'GMT+7') AS ActionChangeTime,
    old.HashKey
    FROM old_data old
    WHERE NOT EXISTS (SELECT 1 FROM new_data new WHERE (new.id = old.id AND new.id2 = old.id2))
    AND old.ACTIONCHANGETYPE != 'Delete'

In [88]:
spark.read.format('delta').load('/container/pyspark_workspace/local_data_storage/deltalake/TEMP_TABLE_B').orderBy('id', ppsql_func.asc('ActionChangeTime')).toPandas()

,address,age,city,gender,id,name,state,StartDate,EndDate,IsCurrent,ActionChangeType,ActionChangeTime,HashKey
0,123 Main St,25,NYC,Male,1,John,NY,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:00.182222,52c8fbaeea020a96d8cbd3738a55cab72c4ebbdf571c9a...
1,456 Elm St,30,LA,Female,2,Jane,CA,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:00.182222,8cd6f375ad0ba0b920e341c9477eb3520b6e7c3fa53e0c...
2,789 Oak St,35,Chicago,Male,3,Bob,IL,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:00.182222,5b567c9dfd0da51de781ea1dfd5e19cea0f2ea8a9658aa...
3,321 Pine St,20,Seattle,Female,4,Alice,WA,2024-11-25,9999-12-31,1,Insert,2024-11-25 01:56:00.182222,d8cfda894cec603b83bf39c406cedf0d37e320cc90e1ed...
4,901 Maple St,40,Boston,Male,5,Sam,MA,2024-11-25,2024-11-25,0,Insert,2024-11-25 01:56:00.182222,c7b79ed8637fe8585fcf5e1d0230571ede7c673fe18300...
5,901 Maple St,20,Boston,Male,5,Sam,MA,2024-11-25,2024-11-25,0,Update,2024-11-25 01:56:39.611709,818fb220bfd792fd95c545f3d4da0a36bfb11d7997983c...
6,901 Maple St,40,Boston,Male,5,Sam,MA,2024-11-25,2024-11-25,0,Update,2024-11-25 01:57:23.960507,c7b79ed8637fe8585fcf5e1d0230571ede7c673fe18300...
7,901 Maple St,20,Boston,Male,5,Sam,MA,2024-11-25,9999-12-31,1,Update,2024-11-25 02:04:34.426657,818fb220bfd792fd95c545f3d4da0a36bfb11d7997983c...
8,1111 Cedar St,28,Denver,Female,6,Emily,CO,2024-11-25,2024-11-25,0,Insert,2024-11-25 01:56:00.182222,82c589a766aedde33ee6775ad7c53276b9679e57bc8e8c...
9,1111 Cedar St,28,Denver,Female,6,Emily,CO,2024-11-25,2024-11-25,0,Delete,2024-11-25 01:56:39.611709,82c589a766aedde33ee6775ad7c53276b9679e57bc8e8c...
10,1111 Cedar St,28,Denver,Female,6,Emily,CO,2024-11-25,2024-11-25,0,Update,2024-11-25 02:03:06.597911,82c589a766aedde33ee6775ad7c53276b9679e57bc8e8c...
11,1111 Cedar St,28,Denver,Female,6,Emily,CO,2024-11-25,2024-11-25,1,Delete,2024-11-25 02:04:34.426657,82c589a766aedde33ee6775ad7c53276b9679e57bc8e8c...
12,1111 Cedar St,28,Denver,Female,7,Emily,CO,2024-11-25,2024-11-25,0,Insert,2024-11-25 01:56:39.611709,cf62cd3b72db8e13fd005dcebc9c9604d005cabe19c821...
13,1111 Cedar St,28,Denver,Female,7,Emily,CO,2024-11-25,2024-11-25,0,Delete,2024-11-25 01:57:23.960507,cf62cd3b72db8e13fd005dcebc9c9604d005cabe19c821...
14,1111 Cedar St,28,Denver,Female,7,Emily,CO,2024-11-25,2024-11-25,0,Delete,2024-11-25 02:03:06.597911,cf62cd3b72db8e13fd005dcebc9c9604d005cabe19c821...
15,1111 Cedar St,28,Denver,Female,7,Emily,CO,2024-11-25,9999-12-31,1,Update,2024-11-25 02:04:34.426657,cf62cd3b72db8e13fd005dcebc9c9604d005cabe19c821...

In [ ]:
import sys
sys.path.insert(0, r'/container/pyspark_workspace/source_code')

In [ ]:
import utils.spark as utils_spark

In [ ]:
spark, sqlContext = utils_spark.createSparkSession()

In [ ]:
# import os

# current_path = os.getcwd()
# print(current_path)

In [ ]:
# current_dir = os.path.dirname(os.path.abspath('__file__'))
# current_dir

In [ ]:
# new_path = './..'
# os.chdir(new_path)
# current_path = os.getcwd()
# print(current_path)

In [ ]:
from generate_data.generate_dummy_data import DummyDataGenerator

In [ ]:
# Retrieve input variables from Airflow task parameters
server_name = 'sqlserver_database_1'
database_name = 'CreditStagingDB'
username = 'SA'
password = 'SQL_Server_Password_1000'


# JDBC URL
jdbc_url = f"jdbc:sqlserver://{server_name};databaseName={database_name};user={username};password={password}"

# Function to insert data into a table
def insert_data(table_name, data):
    df = spark.createDataFrame([Row(**i) for i in data])
    df.write \
        .format("jdbc") \
        .option("url", jdbc_url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password) \
        .option("encrypt", True)\
        .option("trustServerCertificate", True)\
        .mode("append") \
        .save()

generator = DummyDataGenerator()

for _ in range(1):
    customer_product_account_data, account_transaction_history_data = generator.generate_data(20)
    # Generate and insert data for CustomerProductAccount table
    insert_data('CustomerProductAccount', customer_product_account_data)
    # Generate and insert data for AccountTransactionHistory table
    insert_data('AccountTransactionHistory', account_transaction_history_data)
    # time.sleep(5)  # Sleep for 5 seconds

# Stop the Spark session
# spark.stop()

In [ ]:
# spark.createDataFrame()
a  = [Row(**i) for i in account_transaction_history_data]
spark.createDataFrame(a).show()

In [ ]:
# spark.createDataFrame()
a  = [Row(**i) for i in customer_product_account_data]
spark.createDataFrame(a).show()

In [ ]:
# import requests
# api_token = 'dapia4995328bd677127734386305a9cf6b0'
# databrick_url = 'adb-8623833702503865.5.azuredatabrick.net'
# headers = {
#     'Authorization': f'Bearer {api_token}',
#     'Content-Type': "application/json"
# }
# run_reponse = requests.get(
#     f'https://{databrick_url}/api/2.0/secrets/acls/list',
#     headers=headers,
#     json = {
#         'scope':'ls_kv_vn01_adf_vlt01'
#     }
# )
# run_reponse.json()

In [ ]:
# with open("my_new_file.txt", "w") as file:
#     file.write("This is some text inside the file.")

In [ ]:
from pyspark.sql import SparkSession
from delta import configure_spark_with_delta_pip

In [ ]:
builder = SparkSession.builder.appName("MyApp") \
    .master("spark://spark-master:7077")\
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()


    
spark.sparkContext.setLogLevel("WARN")

In [ ]:
# spark.version

In [ ]:
# data = [("Alice", "34"), ("Bob", "45"), ("Cathy", "29")]
# df = spark.createDataFrame(data, ["Name", "Age"])
# df.show()

In [ ]:
data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name", "age"])
df.toPandas()

In [ ]:
data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name", "age"])
df.write.format("delta").mode('overwrite').option('overwriteSchema',True).save("/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A")

In [ ]:
help('modules')

In [ ]:
spark.read.format('delta').load("/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A").toPandas()

In [ ]:
df = spark.sql(''' 
DESC HISTORY delta.`/container/Project_1/local_data_storage/data_1/TEMP_TABLE_A`
''')

In [ ]:
from ipydatagrid import DataGrid
DataGrid(df)

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': range(1, 101),
    'B': range(101, 201),
    'C': range(201, 301),
    'D': range(301, 401)
})

# Set various display options
pd.set_option('display.max_rows', 6)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_colwidth', 50)
pd.set_option('display.width', 1000)
pd.set_option('display.precision', 2)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.show_dimensions', True)
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_seq_item', 10)
pd.set_option('display.memory_usage', True)

# Display DataFrame
df

In [ ]:
spark.sql('SELECT * FROM ALL_TABLES')

In [ ]:
import pandas as pd